
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
  <link rel="stylesheet" href="styles/styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://unpkg.com/scrollreveal"></script>
  <title>home page</title>
</head>
<body>
  <header>
    <nav id="navbar">
      <i class="fa-solid fa-computer" id="nav_logo"> HCK STORE </i>
      
       
      <ul id="nav_list">
        <li class="nav-item active">
          <a href="#home">HOME</a>
        </li>
       
          <li class="nav-item active">
            <a href="#"> LOGIN </a>
          </li>
          
            <li class="nav-item active">
              <a href="#cadastro"> CADASTRE-SE </a>
            </li>

      </ul>

      <button class="btn-default">
       produtos
      </button>

      <button id="mobile_btn">
        <i class="fa-solid fa-bars"></i>
      </button>
    </nav>


    <div id="mobile_menu">
      <ul id="mobile_nav_list">
        <li class="nav-item">
           <a href="#home">HOME</a>
        </li>

          <li class="nav-item">
             <a href="#">LOGIN</a>
          </li>
          
            <li class="nav-item">
               <a href="#cadastro">CADASTRE-SE</a>
            </li>
          </ul>

      <button class="btn-default">
       produtos
      </button>

    </div>
  </header>

     <main id="content">
       <section id="home">
        <div class="shape"></div>
         <div id="cta">
            <h1 class="title">
              O melhor para seu
              <span>setup!</span>
            </h1>
            <p class="description">
              o melhor produto para você!
             
            </p>

            <div id="cta_buttons">
              <a href="#" class="btn-default">
                  ver produtos
              </a> 

              <a href=" tel:+66666666" id="phone_button">
                 <button class="btn-default">
                 <i class="fa-solid fa-phone"></i>
                </button>
                (21)993999456
              </a>
            </div>

              <div class="social-media-buttons">
                 <a href="#">
                   <i class="fa-brands fa-whatsapp"></i>
                 </a>

                 <a href="#">
                  <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="#">
                  <i class="fa-brands fa-facebook"></i>
                </a>
              </div>
            </div>
            
            <div id="banner">
              <img src="assents/pixdapters-computer-ha-pc-game-5ac4c2d37b9b01.8354044815228443715063.png" alt="banner">
            </div>
            
                 
           </div>
        </section>


        <section id="menu">
          <h2 class="section-title"> HYPERX CLOUDX STINGER CORE </h2>
          <h3 class="section-subtitle"> ÁUDIO PARA IMERSÃO NO JOGO   </h3>

          <div id="products">
            <div class="product">
              <div class=" product-heart">
                <i class="fa-solid fa-heart"></i>
              </div>
              <img src="assents/fones21713903180096.png"  class="product-image" alt="">
             
              <h3 class="product-title">
                Lorem Ipsum
            </h3>

            <span class="product-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </span>

            <div class="product-rate">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <span>(500+)</span>
            </div>

            <div class="product-price">
                <h4>R$20,00</h4>
                <button class="btn-default">
                    <i class="fa-solid fa-basket-shopping"></i>
                </button>
               </div>
              </div>







              <div class="product">
                <div class=" product-heart">
                  <i class="fa-solid fa-heart"></i>
                </div>
                <img src="assents/fones21713903180096.png"  class="product-image" alt="">
               
                <h3 class="product-title">
                  Lorem Ipsum
              </h3>
  
              <span class="product-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </span>
  
              <div class="product-rate">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <span>(500+)</span>
              </div>
  
              <div class="product-price">
                  <h4>R$20,00</h4>
                  <button class="btn-default">
                      <i class="fa-solid fa-basket-shopping"></i>
                  </button>
              </div>
              </div>







              <div class="product">
                <div class=" product-heart">
                  <i class="fa-solid fa-heart"></i>
                </div>
                <img src="assents/fones21713903180096.png"  class="product-image" alt="">
               
                <h3 class="product-title">
                  Lorem Ipsum
              </h3>
  
              <span class="product-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </span>
  
              <div class="product-rate">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <span>(500+)</span>
              </div>
  
              <div class="product-price">
                  <h4>R$20,00</h4>
                  <button class="btn-default">
                      <i class="fa-solid fa-basket-shopping"></i>
                  </button>
                </div>
              </div>




                
               <div class="product">
                <div class=" product-heart">
                  <i class="fa-solid fa-heart"></i>
                </div>
                <img src="assents/fones21713903180096.png  class="product-image" alt="">
               
                <h3 class="product-title">
                  Lorem Ipsum
              </h3>
  
              <span class="product-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </span>
  
              <div class="product-rate">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <span>(500+)</span>
              </div>
  
              <div class="product-price">
                  <h4>R$20,00</h4>
                  <button class="btn-default">
                      <i class="fa-solid fa-basket-shopping"></i>
                  </button>
                </div>
              </div>





              <div class="product">
                <div class=" product-heart">
                  <i class="fa-solid fa-heart"></i>
                </div>
                <img src="assents/fones21713903180096.png"  class="product-image" alt="">
               
                <h3 class="product-title">
                  Lorem Ipsum
              </h3>
  
              <span class="product-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </span>
  
              <div class="product-rate">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <span>(500+)</span>
              </div>
  
              <div class="product-price">
                  <h4>R$20,00</h4>
                  <button class="btn-default">
                      <i class="fa-solid fa-basket-shopping"></i>
                  </button>
                </div>
              </div>

          </div>
        </section>



        <section id="testimonials">
          <img src="assents/avaliacao-desempenho-image.png" id="testimonial_prod" alt="">

          <div id="testimonials_content">
              <h2 class="section-title">
                  Depoimentos
              </h2>
              <h3 class="section-subtitle">
                  O que os clientes falam sobre nós?
              </h3>

              <br>

              <div id="feedbacks">
                  <div class="feedback">
                      <img src="assents/avatar.png" class="feedback-avatar" alt="">

                      <div class="feedback-content">
                          <p>
                              Daniela Fontes
                              <span>
                                  <i class="fa-solid fa-star"></i>
                                  <i class="fa-solid fa-star"></i>
                                  <i class="fa-solid fa-star"></i>
                                  <i class="fa-solid fa-star"></i>
                                  <i class="fa-solid fa-star"></i>
                              </span>
                          </p>
                          <p>
                              "Comprei um fone, de extrema qualidade, muito bom, super recomendo.."
                          </p>
                      </div>
                  </div>

                    <div id="feedbacks">
                      <div class="feedback">
                          <img src="assents/avatar.png" class="feedback-avatar" alt="">
    
                          <div class="feedback-content">
                              <p>
                                  Daniela Fontes
                                  <span>
                                      <i class="fa-solid fa-star"></i>
                                      <i class="fa-solid fa-star"></i>
                                      <i class="fa-solid fa-star"></i>
                                      <i class="fa-solid fa-star"></i>
                                      <i class="fa-solid fa-star"></i>
                                  </span>
                              </p>
                              <p>
                                  "Comprei um fone, de extrema qualidade, muito bom, super recomendo.."
                              </p>
                          </div>
                        </div>
                      </div>

              <button class="btn-default">
                Ver mais avaliações
          </button>

        </section>
       </main>

       <footer>
        <img src="assents/wave (4).svg" alt="">

        <div id="footer_items">
           <span id="coopyright">
                &copy 2024 HCK representações
           </span>


           <div class="social-media-buttons">
            <a href="#">
              <i class="fa-brands fa-whatsapp"></i>
            </a>

            <a href="#">
             <i class="fa-brands fa-instagram"></i>
           </a>

           <a href="#">
             <i class="fa-brands fa-facebook"></i>
           </a>
         </div>
          

        </div>
       </footer>
     <script src="home.js"></script>

</body>
</html>
